$white: #fff;
$black: #000;

$lightRed: #f7e7e7;
$red: #871719;
$redAccent: #5f1719;

$lightTan: #fdfcef;
$tan: #f0e6c6;
$darkTan: #6a3e1a;

$lightGrey: #e9e9e9;
$darkGrey: #868686;



// $grey: #E2DFD5;
// $tan: #fde5a5;
// $darkTan: #EEE0BE;
// $darkerTan: #CFBE82;