$red: #871719;
$redBrown: #780907;
$blue: #5679A5;
$white: #fff;
$black: #000;
$grey: #E2DFD5;
$tan: #fde5a5;
$darkTan: #EEE0BE;
$darkerTan: #CFBE82;
$lightTan: #fdfcef;
$lightGrey: #e9e9e9;
$darkGrey: #868686;
$lightRed: #e33b0d;