$red: #AB371F;
$redBrown: #904429;
$blue: #5679A5;
$white: #fff;
$black: #000;
$grey: #E2DFD5;
$tan: #F5F3EF;
$darkTan: #EEE0BE;
$darkerTan: #CFBE82;
$lightTan: #fef5d9;
$lightGrey: #f8f6ed;
$darkGrey: #868686;
