
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/


@media only screen and (max-width:975px) {
	nav {
		text-align: center;
		float: none;
		top: 40px;
		right: 0px;
		li {
			float: left;
		}
	}
}


@media only screen and (max-width:768px) {
	.header {
		height: auto;
		background-color: $red;
	}
	.logo {
		margin: 0 auto;
		display: block;
		float: none;
		text-align: center;
	}
	nav {
		width: 100%;
		background-color: $red;
		text-align: center;
		position: static;
		float: none;
		padding: 10px 0 0 0;
		ul {
			margin: 10px;

		}
		li {
			float: none;
		}
	}
	.main {
		width: 100%;
	}
	.row {
		display: inline-block;
		width: 100%;
	}
	.sidebar {
		float: none;
		display: block;
		width: 100%;
		clear: both;
	}
}