
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:1025px) {
	.header {
		padding: 40px 20px 20px 30px;;
		nav {
			margin: 0 auto;
			padding-right: 0px;
			font-size: 18px;
			li:last-of-type {
				padding-right: 0px;
			}
		}
		.logo {
			width: 200px;
			margin-top: 12px;
		}
	}
}

// @media only screen and (max-width:950px) {
// 	.header {
// 		padding: 40px 10px 20px 10px;
// 	}

// }


@media only screen and (max-width:850px) {
	.wrapper {
		margin: 0px auto;
	}
	.header {
		.logo {
			width: 250px;
		}
		height: auto;
		background-color: $red;
		text-align: center;
		margin: 0;
		nav {
			display: none;
			width: 100%;
			background-color: $red;
			text-align: center;
			position: static;
			float: none;
			padding: 10px 0 0 0;
			ul {
				margin: 10px;

			}
			li {
				float: none;
				padding: 10px 0 10px 0;
				border-top: 1px solid $lightTan;
				a {
					border: none;
				}
				&:hover {
					background-color: $lightRed;
					a {
						color: $black;
					}
				}
			}
		}
		.menu-toggle {
			text-align: center;
			float: none;
			border-bottom: 3px solid $lightRed;
			display: block;
			width: 50%;
			margin: 30px auto 10px auto;
			color: #fff;
			&:hover {
				background-color: $lightRed;
				cursor: pointer;
				color: $black;
			}
		}

	}

	.button {
		float: none;
		display: block;
		margin: 30px auto;
		text-align: center;
	}
	.logo {
		margin: 0 auto;
		display: block;
		float: none;
		text-align: center;
	}

	.main {
		width: 100%;
	}
	.row {
		display: inline-block;
		width: 100%;
		div.wp-caption {
			text-align: center;
			width: 100%;
			padding: 0;
			&.alignright {
				float: none;
			}
		}
	}
	.sidebar {
		float: none;
		display: block;
		width: 100%;
		clear: both;
		text-align: left;
	}
	.row.breadcrumbs {
		display: none;
		margin: 10px;
	}
	h1, h2, h3, h4, h5 {
		text-align: center;
	}
	.row {
		.ezcol-one-quarter,
		.ezcol-one-half,
		.ezcol-three-quarter,
		.ezcol-one-third,
		.ezcol-two-third,
		.ezcol-one-fifth,
		.ezcol-two-fifth,
		.ezcol-three-fifth,
		.ezcol-four-fifth {
			width: 100% !important;
		}	
	}

	.grid-item {
		float: left;
		width: 47%;
	}

	.event-date {
		font-size: 1.2em;
		font-weight: 800;
		float: none;
		width: 100%;
		padding-top: 20px;
		text-align: center;
	}

	.event-body {
		padding: 20px 0 20px 0;

	}

}


@media only screen and (max-width:600px) {
	p {
		width: 100%;
		img.alignleft, img.alignright {
			display: block;
			margin: 0 auto;
			float: none;
		}
	}

	div[class*='ezcol-'].ezcol {
		padding: 0;
		margin: 0;
		float: none;
		width: 100% !important;
		display: inline-block;
	}
}


@media only screen and (max-width:480px) {
	.grid-item {
		float: none;
		width: 97%;
	}
}