@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

$sans-stack: helvetica, sans-serif;

body {
	font:400 16px/1.6 Georgia, Arial, sans-serif;
	color: $black;
}

nav, h1, h2, h3, h4, h5, label {
	font-family: 'open sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	color: #000;
}

h1 {
	margin-top: 0;
}


a {
	color: $red;
	// text-decoration:none;
	&:hover {
		// text-decoration: underline;
		color: #474741;
	}
}

nav a, .breadcrumbs a {
	text-decoration: none;
}


// p:first-of-type {
// 	font-size: 1.2em;
// }

// .row {
// 	p:first-of-type {
// 		font-size: 1.4em;
// 	}

// }

.page-id-143 {
	p:first-of-type {
		font-size: 1em;
	}
}

.button {
	font-family: $sans-stack;
	line-height: 1em;
	color: $lightTan;
	// text-transform: uppercase;
}

.wp-caption {
	// text-transform: uppercase;
	font-family: $sans-stack;
	font-size: .8em;
}
.breadcrumbs {
	font-family: $sans-stack;
	font-size: .9em;
	color: $darkGrey;
}

blockquote {
	font-size: 1.2em;
	line-height: 1.8em;
}

article {
	p:first-of-type {
		font-size: 1em;
	}
	h2 {
		margin-top: 0px;
	}
}

/* nav */
nav {
	font-size: 18px;
	a {
		color: $white;
		&:hover {
			text-decoration: none;
			padding-bottom: 6px;
			border-bottom: 3px solid $lightRed;
			color: $lightRed;
		}
	}	
}

.single-close-up {
	color: #f00;
}

.current-menu-item a {
	text-decoration: none;
	padding-bottom: 6px;
	border-bottom: 1px solid $lightRed;
	color: $lightRed;
}

.sidebar {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.current-menu-item {
		a {
			color: $darkGrey;
			border-bottom: 0px;
		}
		ul li a {
			color: $red;
		}
	}
}

footer {
	color: $black;
	a, .current-menu-item a {
		border-bottom: 0px;
		color: $black;
		&:hover {
			color: $black;
		}
	}
}

